Package: Calculator
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-pyside6, python3-pyside6-addons, python3-pyside6-essentials
Maintainer: Jan Frantisek Levicek <xlevic02@stud.fit.vut.cz>
Description: Aplikace kalkulacky s GUI jako tymovy projekt z predmetu IVS
